.newShoes {

    display: flex;
    /* justify-content: center; */
    /* height: 1200px; */
    flex-wrap:  wrap; 
    justify-content:  center; 
    padding-left: 20px;
    padding-right: 20px; 
    gap: 16px 100px;
}

.MakeSpace{
    margin-bottom: 1200px; /* as an example */
}


.newShoes > div{
    margin-top: 80px; /* as an example */
    margin-bottom: 6vw; /* as an example */
    /* margin-left:5vw; */
    /* padding-left: 22px; */
}