.insideNewShoes {
    width: 400px;
    height: 300px;
    margin: auto;
    align-items: center;

}


.insideNewShoes>img {
    opacity: 0.9;
    width: 280px;
    height: 200px;
    border: 3px solid #4E7044;

}
.textUnder{
color: white;
font-weight: 500;
}

.insideNewShoes>img:hover {
    opacity: 1;

}
.theModal {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.theModal>button {
    position: absolute;
    bottom: 2%;
    size: 40%;
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}


.theModal>button:hover {
    /* background-color: #4CAF50; Green */
    color: white;
  }



.Title{
    font-size: 40px;

}


.description{
    font-size: 20px;

}


.theModal>img {

    height: 30%;
    width: 30%;
}