.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #7db46cff;
  justify-content: center;
  margin: 0;
  padding: 5px;
}

.navBar > div {
  text-align: center;
  flex-grow: 3;
}

.navBar a {
  font-weight: bold;
  font-weight: 900px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  display: block;
  padding: 16px;
  color: white;
}

.navBar > div:hover {
  background: rgb(84, 136, 68);
  transform: translateY(4px);
}

.Shoes {
  display: flex;
  background-color: #7db46cff;
}
.Shoes > div > div {
  text-align: center;
  padding: 30px;
  width: 300px;
  height: 200px;
  line-height: 200px;
}

.MShoes {
  order: 0;
}

.WShoes {
  order: 1;
}

.KShoes {
  order: 2;
}

.Shoes > .innerShoe > div > img {
  opacity: 0.7;

  width: 280px;
  height: 200px;
}

.Shoes > .innerShoe > div > img:hover {
  opacity: 1;
}

.innerShoe {
  margin: 0 auto;
  width: 1728px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  background-color: rgb(93, 141, 78);
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
  margin: 0 auto;

  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-grow: 1px;
}

.break {
  display: flex;
  flex-wrap: wrap;
}

.break > img {
  height: 100%;
  width: 100%;
}

.iconsTable td:nth-child(odd) {
  padding-right: 10px;
  text-align: center;
}

.modalText {
  border: 3px solid #436414;
  padding: 10px;
  text-align: center;
}

.modalImg > img {
  height: 70%;
  width: 70%;
}
.modalImg {
  text-align: center;
}

.buttonDiv {
  text-align: center;
}

.buttonDiv > button {
  background-color: white; /* Green */
  border: "2px solid #000";
  color: black;
  padding: 15px 32px;
  font-size: 20px;
}
.buttonDiv > button {
  background-color: white; /* Green */
  border: "2px solid #000";
  color: black;
  padding: 15px 32px;
  font-size: 20px;
}

.buttonDiv > button:hover {
  background-color: green;
}

.buttonDiv > button:active {
  background-color: rgb(84, 136, 68);
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
.modalSize {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  max-height: 800px;
  height: 100%;
  width: 100%;

  align-items: center;
  flex-wrap: nowrap;
}
.modal-close{
  position: relative;

}
.modal-close >button{
  position: absolute;
  left: 390px;
  font-size: 18px;

	background: white;
	color: black;
	line-height: 25px;

	text-align: center;

	text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  




}
.modal-close >button:hover {
  background-color: green;
}
